.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    background-color: white;
}

.table:hover {
    box-shadow: 0 0 10px 2px rgb(162, 189, 224);
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}